
/* General */

body{
    background-color: aquamarine;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* Logo */

header{
    background-color: white;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: rgb(1, 22, 52);
    margin-bottom: 40px;
}

#logo{
    width: 70px;
}

#taboolist{
    display: inline-block;
}



/* Main */


/* Add Buttons */
.box{
    margin: 0px 20% 2px 20%;
    padding: 20px 50px 20px 50px;
    border-radius: 5px;
}

.box{
    background-color: white;
}

#task{
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}

#section{
    background-color: white;
    color: grey;
    border-radius: 5px;
    padding: 5px;
    border-color: black;
    border-width: 1px;
}



/* Tasks */

.type{
    color: rgb(1, 22, 52);
    font-size: 20px;
    font-weight: bold;
}

.what-to-do{
    color: rgb(1, 22, 52);
    font-size: 18px;
    margin: 10px 0;
}

#editorial{
    background-color: dodgerblue;
    color: white;
    font-size: 11px;
    font-weight: 300;
    border-radius: 10px;
    padding: 6px;
}